.questionBody {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;  */
    margin-top: 5%;
    border-bottom: #000000 1px dashed;
}

.answer_question_view {
    width: 15%;
    font-weight: bold;
}

.answer_question_text {
    width: 60%;
}

.answer_question_right {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 2%;
}

.question_author {
    color: red;
    margin-bottom: 0px;
}

.question_meta {
    color: #bbbbbb;
    margin-top: 0px;
}